extends headContentPage

block head
    link(rel='stylesheet', href='/styles/slides.css')
block content
    div(id="slides_container", data-bind="slideShow: curImgs")
        
block scripts
    script(src="/scripts/viewmodels/gallery.js")