doctype
html
	head
		meta(charset="utf-8")
		title= title
		link(href="http://fonts.googleapis.com/css?family=Petit+Formal+Script", rel="stylesheet", type="text/css")
		link(href="http://fonts.googleapis.com/css?family=Allura", rel="stylesheet", type="text/css")
		link(rel="stylesheet", href="/styles/styleO.css")
		link(rel="stylesheet", href="/styles/jquery-ui-1.8.22.custom.css")
		block head
	body
		div(id="loginbtn_wrapper")
			p Login
		header
			div(id="logo_wrapper")
				div(id="logo")
					div(id="owens") Owens
					div(id="station") Station
					div(id="brewery") Brewery
			nav
				ul
					li
						a(href="/", id="home") Home
					li
						a(href="/gallery", id="gallery") Gallery
					li
						a(href="/about", id="about") About
					li
						a(href="/contact", id="contact") Contact Us
		div(id="content_filler")
			div(id="content_wrapper")
				block content
		div#login_wrapper
			div#login
				span#x
					p x
				form(method="post", action="/login")
					div Email
					input(name="email")
					div Password
					input(name="password")
					br
					input(type="submit", value="Login")
	script(src="/scripts/libs/jquery-1.7.2.min.js")
	script(src="/scripts/libs/jquery-ui-1.8.22.custom.min.js")
	script(src="/scripts/libs/slides.min.jquery.js")
	script(src="/scripts/libs/knockout-2.1.0.js")
	script(src="/scripts/viewmodels/layout.js")
	script
		$(function() {
			$('a##{active}').addClass('active');
			$('#loginbtn_wrapper').click(function(e) {
				$('#login_wrapper').show();
			});
			$('#x').click(function(e) {
				$('#login_wrapper').hide();
			});
		});
	block scripts