#slides_container {
  width: 580px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
#slides_container #example {
  width: 600px;
  height: 350px;
  position: relative;
}
#slides_container #frame {
  position: absolute;
  z-index: 0;
  width: 739px;
  height: 341px;
  top: -3px;
  left: -80px;
}
#slides_container #slides {
  position: absolute;
  top: 15px;
  left: 4px;
  z-index: 100;
}
#slides_container #slides .slides_container {
  width: 570px;
  height: 270px;
  overflow: hidden;
  position: relative;
  display: none;
}
#slides_container #slides .slides_container a {
  width: 570px;
  height: 270px;
  display: block;
}
#slides_container #slides .next,
#slides_container #slides .prev {
  position: absolute;
  top: 107px;
  left: -34px;
  width: 24px;
  height: 43px;
  display: block;
  z-index: 101;
}
#slides_container #slides .next {
  left: 580px;
}
#slides_container a:link,
#slides_container a:visited {
  color: #599100;
  text-decoration: none;
}
#slides_container a:hover,
#slides_container a:active {
  color: #599100;
  text-decoration: underline;
}
#slides_container .pagination {
  margin: 26px auto 0;
  width: 100px;
}
#slides_container .pagination li {
  float: left;
  margin: 0 1px;
  list-style: none;
}
#slides_container .pagination li a {
  display: block;
  width: 12px;
  height: 0;
  padding-top: 12px;
  background-image: url('/images/pagination.png');
  background-position: 0 0;
  float: left;
  overflow: hidden;
}
#slides_container .pagination li.current a {
  background-position: 0 -12px;
}
