/*css reset*/
html {
  color: #000;
  background: #ffffff;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input,
textarea,
select {
  *font-size: 100%;
}
legend {
  color: #000000;
}
#yui3-css-stamp.cssreset {
  display: none;
}
/*font reset*/
body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  *font-size: small;
  *font: x-small;
}
select,
input,
button,
textarea {
  font: 99% arial, helvetica, clean, sans-serif;
}
table {
  font-size: inherit;
  font: 100%;
}
pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}
#yui3-css-stamp.cssfonts {
  display: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.global_width {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  min-width: 1000px;
}
.h1 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 4.75em;
  margin: -0.2em;
  text-shadow: 0 0 14px #000000;
  /* horizontal-offset vertical-offset 'blur' colour */

  -moz-text-shadow: 0 0 14px #000000;
  -webkit-text-shadow: 0 0 14px #000000;
  -o-text-shadow: 0 0 14px #000000;
  -ms-text-shadow: 0 0 14px #000000;
}
.h2 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 4.5em;
  margin: -0.2em;
  text-shadow: 0 0 14px #000000;
  /* horizontal-offset vertical-offset 'blur' colour */

  -moz-text-shadow: 0 0 14px #000000;
  -webkit-text-shadow: 0 0 14px #000000;
  -o-text-shadow: 0 0 14px #000000;
  -ms-text-shadow: 0 0 14px #000000;
}
.h3 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 4.25em;
  margin: -0.2em;
  text-shadow: 0 0 14px #000000;
  /* horizontal-offset vertical-offset 'blur' colour */

  -moz-text-shadow: 0 0 14px #000000;
  -webkit-text-shadow: 0 0 14px #000000;
  -o-text-shadow: 0 0 14px #000000;
  -ms-text-shadow: 0 0 14px #000000;
}
.h4 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 4em;
  margin: -0.2em;
  text-shadow: 0 0 14px #000000;
  /* horizontal-offset vertical-offset 'blur' colour */

  -moz-text-shadow: 0 0 14px #000000;
  -webkit-text-shadow: 0 0 14px #000000;
  -o-text-shadow: 0 0 14px #000000;
  -ms-text-shadow: 0 0 14px #000000;
}
.h5 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 2.75em;
  margin: -0.2em;
  text-shadow: 0 0 14px #000000;
  /* horizontal-offset vertical-offset 'blur' colour */

  -moz-text-shadow: 0 0 14px #000000;
  -webkit-text-shadow: 0 0 14px #000000;
  -o-text-shadow: 0 0 14px #000000;
  -ms-text-shadow: 0 0 14px #000000;
}
.h6 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 2.5em;
  margin: -0.2em;
  text-shadow: 0 0 14px #000000;
  /* horizontal-offset vertical-offset 'blur' colour */

  -moz-text-shadow: 0 0 14px #000000;
  -webkit-text-shadow: 0 0 14px #000000;
  -o-text-shadow: 0 0 14px #000000;
  -ms-text-shadow: 0 0 14px #000000;
  color: rgba(5, 5, 5, 0.7);
}
.hidden {
  display: none;
}
.font {
  font-family: cursive;
  font-size: 1.5em ;
  line-height: 1.6;
  color: rgba(5, 5, 5, 0.7);
}
html {
  background-color: #333;
  background-image: url('/images/tex2res4.png');
  background-repeat: repeat;
  height: 100%;
}
html body {
  min-width: 1100px;
  height: 100%;
}
html body header {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  min-width: 1000px;
}
html body header nav {
  margin-top: 15px;
  z-index: 1;
}
html body header nav ul li {
  display: inline-block;
}
html body header nav ul li:first-child {
  margin-left: 50px;
}
html body header nav ul li a {
  text-shadow: 0 0 14px #000000;
  /* horizontal-offset vertical-offset 'blur' colour */

  -moz-text-shadow: 0 0 14px #000000;
  -webkit-text-shadow: 0 0 14px #000000;
  -o-text-shadow: 0 0 14px #000000;
  -ms-text-shadow: 0 0 14px #000000;
  text-decoration: none;
  display: block;
  padding: 5px 15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  -webkit-transition: color .2s;
  transition: color .2s;
  font-family: 'Petit Formal Script', cursive;
}
html body header nav ul li a:hover {
  color: rgba(255, 255, 255, 0.8);
}
html body header nav ul li a.active {
  color: rgba(255, 255, 255, 0.9);
}
html body div#content_filler {
  background-color: #ddd;
  background-image: url('/images/fabric_plaid.png');
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  border-top: 2px solid #000;
  margin-top: 20px;
}
html body div#content_filler div#content_wrapper {
  background-color: #ddd;
  background-image: url('/images/fabric_plaid.png');
  background-repeat: repeat;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  min-width: 1000px;
  font-family: cursive;
  font-size: 1.5em ;
  line-height: 1.6;
  color: rgba(5, 5, 5, 0.7);
  margin-bottom: 40px;
  padding: 30px;
  height: 100%;
}
div#logo_wrapper {
  height: 200px;
}
div#logo_wrapper div#logo {
  position: relative;
  width: 200px;
  height: 115px;
  overflow: visible;
}
div#logo_wrapper div#logo div {
  text-shadow: 0 0 14px #000000;
  /* horizontal-offset vertical-offset 'blur' colour */

  -moz-text-shadow: 0 0 14px #000000;
  -webkit-text-shadow: 0 0 14px #000000;
  -o-text-shadow: 0 0 14px #000000;
  -ms-text-shadow: 0 0 14px #000000;
  position: absolute;
  width: auto;
  height: auto;
  color: rgba(254, 245, 202, 0.7);
  font-family: 'Allura', cursive;
}
div#logo_wrapper div#logo div#owens {
  font-size: 180px;
  top: 7px;
  left: 5px;
  z-index: -2;
}
div#logo_wrapper div#logo div#station {
  top: 140px;
  left: 400px;
  color: #fff;
  font-size: 30px;
  z-index: -1;
}
div#logo_wrapper div#logo div#brewery {
  font-size: 30px;
  top: 160px;
  left: 335px;
  z-index: -2;
}
div#logo_wrapper div#logo div#a {
  top: 180px;
  left: 290px;
  transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  width: 50px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}
div#logo_wrapper div#logo div#b {
  top: 200px;
  left: 320px;
  width: 73px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}
div#logo_wrapper div#logo div#c {
  top: 93px;
  left: 150px;
  transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  width: 50px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}
